In [1]:
1)import pandas as pd

In [5]:
df = pd.read_csv('hotel_bookings.csv')
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,7/1/2015
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,7/1/2015
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,7/2/2015
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,7/2/2015
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,7/3/2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,9/6/2017
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,9/7/2017
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,9/7/2017
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,9/7/2017
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,9/7/2017

In [9]:
df.head(7)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,7/1/2015
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,7/1/2015
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,7/2/2015
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,7/2/2015
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,7/3/2015
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,7/3/2015
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,...,No Deposit,NaN,NaN,0,Transient,107.0,0,0,Check-Out,7/3/2015

In [15]:
df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [17]:
df.shape

(119390, 32)

In [161]:
df.dtypes

hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
total_nights                        int64
total_kids                        float64
has_kids                             bool
dtype: object

In [23]:
#2Пользователи из каких стран совершили наибольшее число успешных бронирований? Укажите топ-5.

succesful = df[df['is_canceled'] == 0]
top_countries = succesful["country"].value_counts().head(5)
top_countries

country
PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: count, dtype: int64

In [33]:
3# На сколько ночей в среднем бронируют отели разных типов?
df['total_nights'] = df['stays_in_weekend_nights'] + df['stays_in_week_nights']
df.groupby('hotel')['total_nights'].mean()

hotel
City Hotel      2.978142
Resort Hotel    4.318547
Name: total_nights, dtype: float64

In [165]:
4#Иногда тип номера, полученного клиентом (assigned_room_type), отличается от изначально забронированного (reserved_room_type). 
#Такое может произойти, например, по причине овербукинга. Сколько подобных наблюдений встретилось в датасете?

filtred = df[df['reserved_room_type'] != df['assigned_room_type']]
len(filtred)

14917

In [179]:
5##Проанализируйте даты запланированного прибытия. – На какой месяц чаще всего успешно оформляли бронь в 2016?
#Изменился ли самый популярный месяц в 2017?– 
#Сгруппируйте данные по годам и проверьте, на какой месяц бронирования отеля типа City Hotel отменялись чаще всего в каждый из периодов
time = df[(df['arrival_date_year']==2016) & (df['is_canceled']==0)]
time_2016=time['arrival_date_month'].value_counts().head(1)
time_2= df[(df['arrival_date_year']==2017) & (df['is_canceled']== 0)]
time_2017= time_2['arrival_date_month'].value_counts().head(1)
city_cancel = df[(df['is_canceled'] == 1) & (df['hotel'] == 'City Hotel')]
popular_cancel_months = city_cancel.groupby('arrival_date_year')['arrival_date_month'] \
                                   .agg(lambda x: x.value_counts().index[0])
time_2016, time_2017,popular_cancel_months

(arrival_date_month
 October    3689
 Name: count, dtype: int64,
 arrival_date_month
 May    3551
 Name: count, dtype: int64,
 arrival_date_year
 2015    September
 2016      October
 2017          May
 Name: arrival_date_month, dtype: object)

In [69]:
6##Посмотрите на числовые характеристики трёх переменных: adults, children и babies. Какая из них имеет наибольшее среднее значение?
df[['adults','babies','children']].mean()

adults      1.856403
babies      0.007949
children    0.103890
dtype: float64

In [73]:
7#Создайте колонку total_kids, объединив children и babies. Для отелей какого типа среднее значение переменной оказалось наибольшим?

df['total_kids'] = df['children']+df['babies']
df.groupby('hotel')['total_kids'].mean()

hotel
City Hotel      0.096311
Resort Hotel    0.142586
Name: total_kids, dtype: float64

In [83]:
##  8Создайте переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), в противном случае – False. 
#Посчитайте отношение количества ушедших пользователей к общему количеству клиентов, выраженное в процентах 
df['has_kids'] = df['total_kids']>0
churn_rate = df.groupby('has_kids')['is_canceled'].mean()*100
print(churn_rate)

has_kids
False    37.221283
True     34.922846
Name: is_canceled, dtype: float64

In [92]:
# 10На сколько ночей (stays_total_nights) в среднем бронируют отели типа City Hotel? Resort Hotel? 
#Запишите полученные значения в пропуски с точностью до 2 знаков после точки. Может пригодиться: round
df['total_nights'] = df['stays_in_weekend_nights'] + df['stays_in_week_nights']
df.groupby('hotel')['total_nights'].mean().round(2)

hotel
City Hotel      2.98
Resort Hotel    4.32
Name: total_nights, dtype: float64

In [169]:
## 12 Теперь проанализируйте даты запланированного прибытия (arrival_date_year).
##На какой месяц чаще всего оформляли бронь в 2016 году? Изменился ли самый популярный месяц в 2017

In [119]:
month = df[(df['arrival_date_year']==2016) & (df['is_canceled']==0)]
month['arrival_date_month'].value_counts().head(1)

arrival_date_month
May    3551
Name: count, dtype: int64

In [123]:
month_2 = df[(df['arrival_date_year']==2017)&(df['is_canceled']==0)]
month_2['arrival_date_month'].value_counts().head(1)

arrival_date_month
May    3551
Name: count, dtype: int64

In [151]:
#13  Сгруппируйте данные по годам, а затем проверьте,
#на какой месяц (arrival_date_month) бронирования отеля типа City Hotel отменялись чаще всего в 2015? 2016? 2017? 
#Подсказка: для этого сначала примените метод groupby, после чего выберите нужную колонку для дальнейших действий 
city_cancel = df[(df['is_canceled'] == 1) & (df['hotel'] == 'City Hotel')]

# Найдём самый частый месяц отмены для каждого года
popular_months = city_cancel.groupby('arrival_date_year')['arrival_date_month'] \
                            .agg(lambda x: x.value_counts().index[0])

popular_months

arrival_date_year
2015    September
2016      October
2017          May
Name: arrival_date_month, dtype: object

In [159]:
#Создайте колонку total_kids, объединив столбцы children и babies. Для отелей какого типа среднее значение переменной оказалось наибольшим?
#City hotel – отель находится в городе
#Resort hotel – отель курортный
#В качестве ответа укажите наибольшее среднее total_kids, округлив до 2 знаков после точки
df['total_kids']= df['children']+ df['babies']
df.groupby('hotel')['total_kids'].mean().round(2)

hotel
City Hotel      0.10
Resort Hotel    0.14
Name: total_kids, dtype: float64

In [183]:
#9 Перейдем к исследованию данных! Пользователи из каких стран совершили наибольшее число успешных бронирований? 
#Бронирование считается успешным, если в дальнейшем не было отменено (переменная is_canceled).
#В качестве ответа выберите страны, входящие в топ-5.

booking = df[df['is_canceled'] ==0]
booking['country'].value_counts().head(5)

country
PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: count, dtype: int64